<table class="table table-hover">
   <caption>Meals</caption>
   <thead>
      <tr>
         <th>Name</th>
         <th>Category</th>
         <th>Website</th>
      </tr>
   </thead>
   <tbody>
      <tr>
         <td>Tanmay</td>
         <td>Restaurant</td>
         <td>560001</td>
      </tr>
      <tr>
         <td>Sachin</td>
         <td>Restaurant</td>
         <td>400003</td>
      </tr>
      <tr>
         <td>Uma</td>
         <td>Restaurant</td>
         <td>411027</td>
      </tr>
      <tr>
         <td>Uma</td>
         <td>Restaurant</td>
         <td>411027</td>
      </tr>
      <tr>
         <td>Uma</td>
         <td>Home Cooked Meals</td>
         <td>411027</td>
      </tr>
      <tr>
         <td>Uma</td>
         <td>Home Cooked Meals</td>
         <td>411027</td>
      </tr>
      <tr>
         <td>Uma</td>
         <td>Home Cooked Meals</td>
         <td>411027</td>
      </tr>
      <tr>
         <td>Uma</td>
         <td>Home Cooked Meals</td>
         <td>411027</td>
      </tr>
      <tr>
         <td>Uma</td>
         <td>Home Cooked Meals</td>
         <td>411027</td>
      </tr>
      <tr>
         <td>Uma</td>
         <td>Home Cooked Meals</td>
         <td>411027</td>
      </tr>
   </tbody>
</table>

<div class="col-lg-4">
    <div class="input-group">
    <form action='/newPlan' method="post">
      <input type="text" class="form-control" name='Restaurant' placeholder="write something">
      <span class="input-group-btn">
        <button class="btn btn-default" type="button">Add a meal !!!</button>
      </span>
      </form>
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->

